div{
    width: 100%;
    max-width: 600px;
    height: 600px;
}

div img{
    width: 100%;
    max-width: 600px;
    height: 600px;
}
@media  (max-width: 576px){
      /* mobil */
      .laptop, .tableta{
        display: none;
      }
      .mobil{
        background-image: url("../imagini/imagine1.jpeg");
        background-size: cover;
      }
}
@media (min-width:578px) and (max-width:768px) {
    /* tableta */
    .laptop, .mobil{
        display: none;
      }
      .tableta{
        background-image: url("../imagini/imagine1.jpeg");
        background-size: cover;
      }
}
@media (min-width: 769px) {
    /* laptop */
    .mobil, .tableta{
        display: none;
      }
      .laptop{
        background-image: url("../imagini/imagine1.jpeg");
        background-size: cover;
      }
}
